body{
  background-color: rgba(48, 44, 66, 1) !important;
  color: white;
}
a{
  color: white;
}

/* Header */
.navbar-brand{
  background: -webkit-linear-gradient(0deg, #C0B7E8 0%, #8176AF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: larger;
}

.nav-link{
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
}

.nav-buttons{
  gap: 5%;
}

.outlined-button{
  border: 2px;
  border-style: solid;
  border-radius: 40px;
  border-color: white;
  background-color: transparent;
  padding: 10px;
}

.filled-button{
  background: -webkit-linear-gradient(90deg, rgba(129, 118, 175, 1), rgba(192, 183, 232, 1));
  border: 2px;
  border-style: hidden;
  border-radius: 40px;
  padding: 10px;
}

/* Footer */
footer hr{
  border-style: solid;
}

@media screen and (max-width: 800px) {
  .navbar-collapse{
    padding-top: 10px;
  }

  .nav-buttons{
    padding-top: 20px;
  }
  .nav-buttons .filled-button{
    margin-left: 26%;
  }
}

@media screen and (max-width: 600px) {
  .d-flex {
      flex-direction: column;
  }

  footer{
    margin: 5px;
    margin-right: 20px;
  }
}